// Breakpoints
$breakpoint-xl-down: 1601px - 0.02px;
$breakpoint-lg-down: 1220px - 0.02px;
$breakpoint-md-down: 1024px - 0.02px;
$breakpoint-sm-down: 897px - 0.02px;
$breakpoint-xs-down: 576px - 0.02px;
$breakpoint-xxs-down: 414px - 0.02px;
